[submodule "deps/try_signal"]
	path = deps/try_signal
	url = https://github.com/arvidn/try_signal.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/pbochecker"]
	path = deps/pbochecker
	url = https://github.com/haikion/pbochecker.git
