# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib

.cache
.clangd
.qmake.cache
.qmake.stash
compile_commands.json
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.rej
*.orig

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
